{% extends 'edoc_base.html.twig' %}

{% block title %}Hello DossierMedicaleController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
                <h1 class='text-center m-5' >Ajouter un document</h1>

                {{ form_start(form) }}
                    {# ... #}

                {{ form_row(form.document) }}
                    {{ form_row(form.submit) }}
                {{ form_end(form) }}

                    <div  >
                            
                                <h3 class='mt-3'>Mon dossier Medicale </h3>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Document</th>
                                        <th scope="col">Consulter</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for document in documents %}
                                        <tr>
                                            <th scope="row">1</th>
                                            <td> {{document.document}} </td>
                                            <td> <a target='_blank' href="{{asset('uploads/dossierMedicale/'~ document.document )}}">Consulté</a> </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                    </div>

                        </div>
                    </div>

                </div>

{% endblock %}
