{% extends 'base.html.twig' %}

{% block title %}EasyDoc{% endblock %}


{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="card">
                <div class="card-body text-center">
                    <h4 class="text-center">
                       Informations du docteur
                    </h4>
                    <img src="" alt="" width="80" style="border-radius: 50%;">
                    <br>
                    <p class="lead mt-3">Name : {{ doctor.getUserName() }}</p> 
                    <p class="lead">Education : {{ doctor.getEducation() }}</p> 
                    <p class="lead">Description : {{ doctor.getDescription() }}</p> 
                </div>
            </div>
        </div>
        <div class="col-md-8 mt-3">
           
          
            <div class="card">
                <div class="card-header lead"> <h4>Book appointment for {{date}}</h4> </div>
                <div class="card-body">
                    
                    <form action="{{ path('store_booking') }}" method="POST">
                        
                        <div class="row">
                        {% if times is empty %}
                            <h5 class='ml-7' > No Times available </h5>
                        {% endif %}


                            {% for time in times %}
                                    <div class="col-md-3">
                                        <label for="" class="btn btn-outline-primary" style="width: 100px;height:3.7rem;">
                                            <span style="color: #009efb">{{ time.time }}</span> <br>
                                            <input type="radio" name="time" value="{{ time.time }}" style="zoom:1.35; " >
                                        </label>
                                    </div>
                                
                                <input type="hidden" name="doctorId" value="{{doctor.getId()}}">
                                <input type="hidden" name="appointmentId" value="{{appointment.getId()}}">
                                <input type="hidden" name="date" value="{{date}}">
                                
                                {% endfor %}

                        </div>
                        <div class="card-footer mt-3">
                        {% if app.user %}
                            <button type="submit" class="btn btn-primary" style="width: 100%;">Book appointment</button>
                        {% else %}
                            <h5>Please connect to book an appointment</h5>
                                <a href=" {{ path('app_login') }} " class='btn btn-primary'>Login </a>
                                <a href=" {{ path('app_register') }} " class='btn btn-primary'>register </a>
                        {% endif %}
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}