<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            		<!-- Favicons -->
                    
                <link type="image/x-icon" href="{{ asset('assets/img/favicon.png')}}" rel="icon">
                
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}" >
                
                <!-- Fontawesome CSS -->
                <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/fontawesome.min.css')}}">
                <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/all.min.css')}}">
                
                <!-- Main CSS -->
                <link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">


        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}  {% endblock %}


        <script src="{{asset('assets/js/jquery.min.js')}}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{{asset('assets/js/popper.min.js')}}"></script>
		<script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
		
		<!-- Slick JS -->
		<script src="{{asset('assets/js/slick.js')}}"></script>
		
		<!-- Custom JS -->
		<script src="{{asset('assets/js/script.js')}}"></script>

    </body>
</html>
