<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            		<!-- Favicons -->
                    
                <link type="image/x-icon" href="{{ asset('assets/img/favicon.png')}}" rel="icon">
                
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}" >
                
                <!-- Fontawesome CSS -->
                <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/fontawesome.min.css')}}">
                <link rel="stylesheet" href="{{ asset('assets/plugins/fontawesome/css/all.min.css')}}">
                
                <!-- Main CSS -->
                <link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">


        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="{{ path('HomePage') }}" class="navbar-brand logo">
							<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/logo.png" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="active">
								<a href="index.html">Home</a>
							</li>
							<li class="login-link">
								<a >Login / Signup</a>
							</li>
						</ul>		 
					</div>		 
					<ul class="nav header-navbar-rht">
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<i class="far fa-hospital"></i>							
							</div>
							<div class="header-contact-detail">
								<p class="contact-header">Contact</p>
								<p class="contact-info-header"> +1 315 369 5943</p>
							</div>
						</li>
                        {% if app.user %}
                           
                            <li class="nav-item">
                                <a class="nav-link header-login" href="{{ path('app_logout') }}">Logout </a>
                            </li>  
                        {% endif %}
                        {% if not app.user %}
                             <li class="nav-item">
                                <a class="nav-link header-login" href="{{ path('app_login') }}">login / Signup </a>
                            </li>
                        {% endif %}
					</ul>
				</nav>
			</header>
			<!-- /Header -->



        {% block body %} 
        
         {% endblock %}




        <script src="{{asset('assets/js/jquery.min.js')}}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{{asset('assets/js/popper.min.js')}}"></script>
		<script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
		
		<!-- Slick JS -->
		<script src="{{asset('assets/js/slick.js')}}"></script>
		
		<!-- Custom JS -->
		<script src="{{asset('assets/js/script.js')}}"></script>

    </body>
</html>
