{% extends 'base_admin.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>All Users</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Adress</th>
                <th>Phone_number</th>
                <th>Education</th>
                <th>Description</th>
                <th>Gender</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.Adress }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.education }}</td>
                <td>{{ user.description }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.email }}</td>
                <td>
                    
                    <a style='color:white'  href="{{ path('user_show', {'id': user.id}) }}"><button class="btn btn-primary">Show</button></a>
                    <a  style='color:white' href="{{ path('user_edit', {'id': user.id}) }}"><button class='btn btn-secondary' >edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('adminAddDoctor') }}" style='color:white;' ><button class="btn btn-primary" >Create new</button></a>
    

    
{% endblock %}
