{% extends 'base_admin.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    
<div class="card">
  <div class="card-header">
                <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.Adress }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ user.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Education</th>
                <td>{{ user.education }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ user.description }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

  </div>
  <div class="card-body">
    

  </div>
</div>



   <button class='btn btn-primary' > <a href="{{ path('user_index') }}" style='color:white' > Retour a la liste</a></button> 

    <button class='btn btn-warning' > <a href="{{ path('user_edit', {'id': user.id}) }}" style='color:white'>Modifier</a></button>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
